* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
           box-sizing: border-box;
  margin:0px;
  border:0px;
  padding:0px;
  font-family: "Asap", sans-serif;
}

div#header {
  overflow: auto;
  position: relative;
  height: 400px;
  z-index: 15;
  background: linear-gradient(to bottom, rgba(30,87,153,0.5) 0%,rgba(30,87,153,0.5) 100%), url('../images/beachhead.jpg') repeat;
  background-size: auto;
  background-position: center bottom;
}

div#topleft {  /* make stuff white */
  position:absolute;
  top:20px;
  left:80px;
  z-index:15;
}

div#spbloglink {
  position:absolute;
  top:3%;
  left:3%;
  vertical-align:center;
}

img#wavelogo {
  position:absolute;
  top:3%;
  left:3%;
  width:40px;
  z-index:15;
}

div#search {
  position:absolute;
  z-index:15;
  top:20px;
  left:600px;
}

div#maintitle {
  position:absolute;
  top:50%;
  bottom: 50%;
  font-size:76px;
  line-height:0.6em;
  width:100%;
  text-align: center;
  font-family: 'Orienta', sans-serif;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
  z-index:100;
}

h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

h2 {
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;
}

h6 {
  text-transform: none;
  font-size: 12px;
  font-color: black;
  center: true;
  font-family: 'Asap', sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.white {
  color: white;
}

.skinny {
  font-family: 'Oswald', sans-serif;
}

div#main {
  width: auto;
  height: auto;
}

div#content {
  padding:2%;
  float:left;
  width:55%;
}

div#sidebar {
  padding:2%;
  float:right;
  width:35%;
  height: 100%;
}

div#footer {
  clear: both;

}

div#navbar {

}

blockquote {
  color: blue;
  size: 18px;
  border-left: 2px solid gray;
  padding: 5px;
  text-transform: uppercase;
}

li {
  display:inline;
}
