* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
           box-sizing: border-box;
  margin:0px;
  border:0px;
  padding:0px;
  font-family: "Asap", sans-serif;
}

div#header {
  overflow: auto;
  position: relative;
  height: 400px;
  z-index: 15;
  background: linear-gradient(to bottom, rgba(30,87,153,0.5) 0%,rgba(30,87,153,0.5) 100%), url('../images/beachhead.jpg') repeat;
  background-size: auto;
  background-position: center bottom;
}

div#topleft {  /* make stuff white */
  position:absolute;
  top:20px;
  left:15%;
  z-index:15;
}

div#spbloglink {
  position:relative;
  float:right;
  vertical-align:middle;
}

img#wavelogo {
  position:relative;
  top:3%;
  right:5%;
  width:40px;
  z-index:15;
  float:left;
}

div#search {
  position:absolute;
  z-index:15;
  top:20px;
  right:15%;
  font-family: "Oswald", sans-serif;
}

div#maintitle {
  position:absolute;
  top:50%;
  bottom: 50%;
  font-size:6em;
  line-height:0.6em;
  width:100%;
  text-align: center;
  font-family: 'Orienta', sans-serif;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
  z-index:100;
}

div.headshot{
  width:80px;
  height:80px;
  border:1px;
  border-radius:40px;
  overflow:hidden;
  background-image:url('../images/chickenface.jpg');
  background-position:center;
  float:left;
}

div.byline {
  height:80px;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  line-height:1.2em;
  font-family: 'Oswald', sans-serif;
}

h2 {
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;
}

h6 {
  text-transform: none;
  font-size: 12px;
  font-color: black;
  center: true;
  font-family: 'Asap', sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.white {
  color: white;
}

.skinny {
  font-family: 'Oswald', sans-serif;
}

div#main {
  margin:10%;
  width: auto;
  height: auto;
}

div#content {
  padding:2%;
  float:left;
  width:55%;
}

div#sidebar {
  padding:2%;
  float:right;
  width:35%;
  height: 100%;
}

div#footer {
  clear: both;
  margin:20px;

}

div#navbar {

}

blockquote {
  color: blue;
  size: 18px;
  border-left: 2px solid gray;
  padding: 5px;
  text-transform: uppercase;
}

li {
  display:inline;
  text-transform:uppercase;
  font-family: 'Oswald', sans-serif;
  padding:10px;
  font-size:2em;
}

div.popular {
  text-align:center;
}
